* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'Noto-sans';
  src: url('./assets/fonts/NotoSans-VariableFont_wdth.ttf') format('truetype');
}

:root {

--Neutral-900: hsl(227, 75%, 14%);
--Neutral-800: hsl(226, 25%, 17%);
--Neutral-700: hsl(225, 23%, 24%);
--Neutral-600: hsl(226, 11%, 37%);
--Neutral-300: hsl(0, 0%, 78%);
--Neutral-200: hsl(217, 61%, 90%);
--Neutral-100: hsl(0, 0%, 93%);
--Neutral-0: hsl(200, 60%, 99%);

--Red-400: hsl(3, 86%, 64%);
--Red-500: hsl(3, 71%, 56%);
--Red-700: hsl(3, 77%, 44%);

--Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
--Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
--Dark-Gradient-vertical: linear-gradient(90deg, #040918 0%, #091540 100%);

  --noto-font: 'Noto-sans', sans-serif;

  --text-title: 700 3.2rem/100% var(--noto-font);
  --text-subtitle: 700 1.8rem/150% var(--noto-font);

  --text-button: 400 1.7rem/100% var(--noto-font);
  --text-body: 400 1.5rem/130% var(--noto-font);
}