body {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: var(--Dark-Gradient-vertical);
}

#content {
  min-width: 320px;
  max-width: 375px;
  padding: 15px;
  display: grid;
  gap: 15px;
  background-image: var(--Dark-Gradient);
}

.top-bar {
  background-color: var(--Neutral-800);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.top-icon {
  justify-content: center;
  align-content: center;
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: var(--Neutral-700);
  border-radius: 20px;
  border: 1px transparent;
  cursor: pointer;
}

.top-icon:hover {
  background-color: var(--Neutral-600);
}

.filter-bar {
  display: grid;
  justify-items: center;
}

.filter-title {
  font: var(--text-title);
  margin-block: 20px;
}

.filter-title,
.filter-tab button,
.extension-title,
.extension-body,
.remove-button {
  color: var(--Neutral-100);
}

.filter-tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  gap: 10px;
}

.filter-tab [aria-selected="true"] {
  background-color: var(--Red-500);
  color: black;
}

.filter-tab [aria-selected="false"]:hover {
  background-color: var(--Neutral-700);
}

.filter-tab button {
  font: var(--text-button);
  background-color: var(--Neutral-800);
  border: 1px solid var(--Neutral-600);
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
}

#extensions-container {
  display: grid;
  gap: 10px;
}

.extension-card {
  background-color: var(--Neutral-800);
  border-radius: 20px;
  border: 1px solid var(--Neutral-600);
  padding: 20px;
}

.extension-header {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
}

.extension-icon {
  background-image: url(assets/images/logo-devlens.svg);
  background-repeat: no-repeat;
  width: 85px;
  height: 60px;
}

.extension-description {
  display: grid;
  justify-self: flex-start;
  width: 100%;
  gap: 10px;
}

.extension-title {
  font: var(--text-subtitle);
}

.extension-body {
  font: var(--text-body);
  opacity: 0.8;
}

.extension-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.remove-button {
  font: var(--text-body);
  background-color: var(--Neutral-800);
  border: 1px solid var(--Neutral-600);
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: var(--Red-500);
  color: black;
}

.top-icon:focus,
.filter-tab button:focus,
.remove-button:focus,
.slider input:focus {
  outline: none;
  border: 1px solid var(--Red-700);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.slider {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  background-color: var(--Neutral-600);
  border-radius: 34px;
  cursor: pointer;
}

.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 4px;
  top: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.switch input:checked + .slider {
  background-color: var(--Red-500);
}

.switch input:focus + .slider {
  outline: 1px solid var(--Red-700);
}

.filter-tab [aria-selected="true"]:hover,
.switch input:checked + .slider:hover {
  background-color: var(--Red-700);
}

.switch input:checked + .slider::before {
  transform: translateX(22px);
}

.top-icon:hover,
.filter-tab [aria-selected="false"]:hover,
.remove-button:hover,
.switch input:checked + .slider:hover {
  transition: background-color 0.3s;
}

@media screen and (min-width: 1024px) {
  body {
    background-image: var(--Dark-Gradient);
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
  }

  #content {
    min-width: 1024px;
    max-width: 100%;
    margin: 0 auto;
    /* justify-content: center; */
    /* align-self: flex-start; */
    background-image: none;
  }

  .filter-bar {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: flex-end;
  }

  .filter-title {
    justify-self: flex-start;
  }

  .filter-tab {
    padding: 10px;
  }

  #extensions-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .extension-card {
    display: grid;
  }
}

@media screen and (min-width: 1440px) {
  #content {
    max-width: 1400px;
    margin-top: 100px;
  }

  .top-bar {
    padding: 25px;
    margin-bottom: 30px;
  }

  .top-logo {
    width: 300px;
  }

  .top-icon {
    width: 100px;
    height: 100px;
  }

  .top-icon img {
    width: 50px;
  }

  .filter-bar {
    margin-block: 20px;
  }

  .filter-title {
    font-size: clamp(3.2rem, 3.2rem + 1.666vw, 4rem);
  }

  .filter-tab button {
    font-size: clamp(1.7rem, 1.7rem + 1.666vw, 2.1rem);
  }

  .extension-card {
    padding: 30px;
  }

  .extension-title {
    font-size: clamp(1.8rem, 1.8rem + 1.666vw, 2.2rem);
  }

  .extension-body, .remove-button {
    font-size: clamp(1.5rem, 1.4rem + 0.833vw, 1.7rem);
  }
}